<form name="addUser" novalidate ng-submit="submitUser();">
    name <input type="text" name='name' ng-model="name"
    ng-model="item" required/><br>
    surname<input type="text" name = 'surname' ng-model="surname"
    ng-model="price" required/><br>
    dob<input type="date" ng-model="dob" name="dob" required/><br>
    città<input type='text' ng-model="citta" name="citta" required/>
    mail<input type='mail' ng-model='mail' name="mail" required/>
    password<input type='password' ng-model="password" name="password" required />
    ripeti password <input type="password" ng-model='passwordMatch' name="passwordMatch" required password-match="password" />
    <input type="submit" ng-disabled="!addUser.$valid"/>
</form>